# Ignore all .env files
*.env

# Ignore .env files in the root directory
/.env

# Ignore .env files in all directories
**/.env

# Ignore .env files in all directories and subdirectories
**/.env*

# Ignore .env files with any extension
*.env.*

# Ignore .env files with any extension in all directories
**/.env.*

# Ignore .env files with any extension in all directories and subdirectories
**/.env*.*


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# Ignore all node_modules folders
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
